<section class="about">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid">

    <div class="about__image">
      <img src="{{ '/images/profile.jpg' | relative_url }}" alt="">

      {% include component-socials.html %}
    </div>

    <div class="about__content">
      <h2 class="title">Hola, I'm Carlos</h2>
      <p class="subtitle subtitle--light">I'm a designer with way too many interests.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

      <p>Reach out to me using at <b>zavorio@hey.com</b> or using the form below</p>

      <a href="#" class="cta button--fill contact-trigger js-contact">Send me a message</a>
    </div>
  </div>
</section>
